<%
require 'barby'
require 'barby/barcode/code_39'
require 'barby/outputter/png_outputter' 
%>

<p>impresion</p>

<% for i in 1..@codeCount %>
	<%
	barcode_value = @codes.at(i).to_s
	full_path = "app/assets/images/" + barcode_value + ".png"
	barcode = Barby::Code39.new(barcode_value)
	File.open(full_path, 'w') { |f| f.write barcode.to_png(:margin => 3, :xdim => 2, :height => 55) }
	%>

	<%= image_tag barcode_value + ".png"%>
	</br>
	<%= barcode_value %>
	</br>
	</br>
<% end %>
